.home {
  background: url("../src/images/logo.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  min-height: 200vh;
}

.home .card-title {
  padding-top: 20px;
  padding-bottom: 30px;
}

.box {
  opacity: 0;
  padding-top: 500px;
}

.landingPageText {
  background-color:#212529;
  margin-bottom: 200px;
  font-size: 1.5rem;
}

.testimonials blockquote{
  font-size: 1rem;
}

